name: Release

on:
  release:
    types: 
      - published

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - run: npm ci
      - run: npm run build

      - name: Package extension
        run: |
          cd dist && zip -r ../extension.zip .

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: extension.zip